.dropdown {
    display: flex;
    flex-direction: row;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

    .dropdownClosed {
        display: block;
    }

    .dropdownOpen {
        display: none;
        position: absolute;
        margin-top: 15px;
        border-radius: 5px;
        border: solid 1px inherit;
        width: 667px;
        height: 397px;
        margin-right: 20px;
        overflow: auto;
        overflow-x: hidden;

        @media screen and (max-width: 700px) {
            margin-right: 20px;
            width: fit-content;
        }

        svg {
            cursor: pointer;
        }

        input {
            padding: 20px;
            width: 75%;
            background-color: inherit;
            border: none;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            &::placeholder {
                opacity: 0.5;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }

            &:focus {
                outline: none;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            height: 100px;

            width: 100%;
            list-style-type: none;
            color: white;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            padding: 20px;
            padding-top: 0;
            margin: 0;

            li {
                text-align: left;
                width: 33%;
                margin-bottom: 10px;

                @media screen and (max-width: 700px) {
                    width: 50%;
                    margin-right: 0px;
                }

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    button {
        padding: 20px;
        cursor: pointer;
        margin: 15px 20px;
        margin-left: 0;

        @media screen and (max-width: 700px) {
            margin-top: 0;
            width: 100%;
            padding: auto;
        }

        input {
            background-color: inherit;
            border: none;

            &::placeholder {
                color: white;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }

            &:focus {
                outline: none;
                color: white;
                font-weight: 500;
                font-size: 16px;


                &::placeholder {
                    opacity: 0.5;
                }
            }
        }

        svg {
            margin-left: 28px;
        }
    }

    .buttonIngredients {
        background-color: $primary;
        border: solid 1px $primary;
        border-radius: 5px;
    }

    .buttonAppliances {
        background-color: $secondary;
        border: solid 1px $secondary;
        border-radius: 5px;
    }

    .buttonUstensils {
        background-color: $tertiary;
        border: solid 1px $tertiary;
        border-radius: 5px;
    }

    .dropdownOpenIngredients {
        background-color: $primary;
    }

    .dropdownOpenAppliances {
        background-color: $secondary;
    }

    .dropdownOpenUstensils {
        background-color: $tertiary;
    }

    .autocompleteResults {
        display: none;
        width: 100%;
        margin-top: -2px;
        color: $primary;

        li {
            width: 100%;
            padding: 20px 15px;
            border-right: $primary;
            border-bottom: $primary;
            border-left: $primary;
        }
    }
}