.dropdown {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 980px) {
        flex-direction: column;
    }

    .dropdownClosed {
        display: block;
    }

    .dropdownOpen {
        display: none;
        margin-top: 15px;
        border-radius: 5px;
        border: solid 1px inherit;
        width: 667px;
        height: 397px;
        margin-right: 20px;
        overflow: auto;
        overflow-x: hidden;
        z-index: 1;

        @media screen and (max-width: 1210px) {
            width: 500px;
        }

        @media screen and (max-width: 980px) {
            margin-right: 0;
            width: fit-content;
        }

        svg {
            cursor: pointer;
        }

        input {
            padding: 20px;
            width: 75%;
            background-color: inherit;
            border: none;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            &::placeholder {
                opacity: 0.5;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }

            &:focus {
                outline: none;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            height: 100px;

            width: 100%;
            list-style-type: none;
            color: white;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            padding: 20px;
            padding-top: 0;
            margin: 0;

            li {
                text-align: left;
                width: 33%;
                margin-bottom: 10px;

                @media screen and (max-width: 1210px) {
                    width: 50%;
                    margin-right: 0px;
                }

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    button {
        padding: 20px;
        cursor: pointer;
        margin: 15px 20px;
        margin-left: 0;

        @media screen and (max-width: 980px) {
            margin-top: 0;
            width: 100%;
            padding: auto;
        }

        input {
            background-color: inherit;
            border: none;
            color: white;
            font-size: 16px;
            line-height: 22px;

            &::placeholder {
                color: white;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }

            &:focus {
                outline: none;
                color: white;
                font-weight: 500;
                font-size: 16px;


                &::placeholder {
                    opacity: 0.5;
                }
            }
        }

        svg {
            margin-left: 28px;
        }
    }

    .buttonIngredients {
        background-color: $primary;
        border: solid 1px $primary;
        border-radius: 5px;
    }

    .buttonAppliances {
        background-color: $secondary;
        border: solid 1px $secondary;
        border-radius: 5px;
    }

    .buttonUstensils {
        background-color: $tertiary;
        border: solid 1px $tertiary;
        border-radius: 5px;
    }

    .dropdownOpenIngredients {
        background-color: $primary;
    }

    .dropdownOpenAppliances {
        background-color: $secondary;
    }

    .dropdownOpenUstensils {
        background-color: $tertiary;
    }

    .autocompleteIngredients {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        height: 175px;
        width: 209px;
        background-color: $primary;
        top: 70%;
        color: #FFFFFF;
        border-radius: 5px;
        z-index: 2;

        @media screen and (max-width: 980px) {
            width: 100%;
        }


        li {
            list-style-type: none;
            cursor: pointer;
            margin-top: 15px;
            margin-bottom: -10px;
            margin-left: 23px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .autocompleteAppliances {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        height: 175px;
        width: 208px;
        background-color: $secondary;
        top: 70%;
        left: 0;
        color: #FFFFFF;
        border-radius: 5px;
        z-index: 2;

        @media screen and (max-width: 980px) {
            width: 100%;
        }


        li {
            list-style-type: none;
            cursor: pointer;
            margin-top: 15px;
            margin-bottom: -10px;
            margin-left: 23px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .autocompleteUstensils {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        height: 175px;
        width: 209px;
        background-color: $tertiary;
        top: 70%;
        color: #FFFFFF;
        border-radius: 5px;
        z-index: 2;

        @media screen and (max-width: 980px) {
            width: 100%;
        }


        li {
            list-style-type: none;
            cursor: pointer;
            margin-top: 15px;
            margin-bottom: -10px;
            margin-left: 23px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .dropdownIngredientsParent {
        position: relative;

        .dropdownOpenIngredients {
            position: absolute;
            top: 0;
            z-index: 3;

            @media screen and (max-width: 980px) {
                width: 100%;
            }
        }
    }

    .dropdownAppliancesParent {
        position: relative;

        .dropdownOpenAppliances {
            position: absolute;
            top: 0;
            z-index: 3;

            @media screen and (max-width: 980px) {
                width: 100%;
            }
        }
    }

    .dropdownUstensilsParent {
        position: relative;

        .dropdownOpenUstensils {
            position: absolute;
            top: 0;
            z-index: 3;

            @media screen and (max-width: 980px) {
                width: 100%;
            }
        }
    }
}